body{
    background-color: rgb(50,75,193);
}
#header {
    display: block;
    background-color: white;
    width: 100vw;
    height: 10rem;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    display: block;
    width: 27rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#user-input {
    display: block;
    background-color: white;
    width: 100vw;
    height: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
}

#question-grid {
    margin-top: 15rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 80rem;
    height: 60rem;
}
.question-row {
    width: 80rem;
    height:10rem;

    display: flex;
}
.question-block {
    border: 1.5px solid black;
    width: 15rem;
    text-align: center;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    overflow-y:scroll;
}
.question-block::-webkit-scrollbar {
    display: none;
}
.question-block {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.question-block:hover {
    cursor: pointer;
}

.hidden {
    font-size: 3rem;
    padding-top: 2rem;
    color: goldenrod;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.category {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.question {
    font-size: 1.3rem;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#answer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    color: rgb(50,75,193);
}

#answer-label {
    margin-right: 1.5rem;
    text-decoration: solid;
    font-weight: bold;
}

#answer {
    border-radius: 3px;
    height: 1.5rem;
    width: 15rem;
    margin-right: 1rem;
}

#answer-submit {
    border-radius: 3px;
    border: 1px solid rgb(50,75,193);
    height: 2rem;
    width: 3rem;
    background-color: rgb(50,75,193);
    color: white;
    font-weight: bolder;
}
#answer-submit:hover {
    cursor: pointer;
}

#score-panel {
    display: block;
    position: fixed;
    width: 13rem;
    border-radius: 5px;
    padding-left: 1rem;
    right: 1rem;
    top: 1rem;
    background-color: goldenrod;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    z-index: 1;
}

#modal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.8);
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
}

#modal-content {
    width: 60vw;
    height: 60vh;
    background-color: rgb(13, 13, 102);
    margin:auto;
    margin-top: 3rem;
    border-radius: 5px;
    box-shadow: 10px 10px black;
}

#modal-question {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align:center;
    padding-top: 3rem;
    padding-bottom:  3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#close-modal {
    color:white;
    position: absolute;
    font-size: 3rem;
    right: 20vw;
    top: 3rem;
}

#close-modal:hover {
    cursor: pointer;
}